@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert";
  src: url("src/assets/fonts/RoobertTRIAL-Regular.otf");
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roobert", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  filter:  brightness(0) saturate(100%);
}
.menu {
  display: flex;
  gap: 10em;
  overflow: visible;
}
.item_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.8em;
}
.bg {
  width: 96.2vw;
  min-height: 18vh;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 1.4%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  background: #000;
}

.menu_item .num{
  font-size: .6em;
  opacity: .7;
}
.menu_item .name {
  font-size: .8em;
}

.bg .num{
  margin-left: 5%;
  font-size: 1em;
}
.bg .name{
  margin-left: 11%;
  font-size: 3em;
}

.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15em;
}
.bg .name {
  cursor: pointer;
}

.type .Typewriter__wrapper{
  font-size: .7em;
  letter-spacing: .1px;
}

.fa-mars {
  width: 20px;
}
@keyframes opacity {
  0%{ opacity: 0; width: 0; align-items: left; }
  10%{ opacity: .10; width: 10%;}
  20%{ opacity: .20; width: 20%;}
  30%{ opacity: .30; width: 30%;}
  40%{ opacity: .40; width: 40%;}
  50%{ opacity: 1; width: 90%; }
  100%{ opacity: 1;  width: 90%; align-items: left;}
  110%{ opacity: 1;  width: 90%; align-items: center;}
}



.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left:55%;
}
.icon-scroll{
  cursor: pointer;
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
}
.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
    }
 }